
<div id="eventResult" class="wrapper wrapper--flex">

  <header>
    <div class="getmeout-logo-wrapper">
      <div class="getmeout-logo getmeout-logo--blue">
        <p>get <strong>me</strong></p>
        <h1>Out<i>!</i></h1>
      </div>
    </div>
  </header>
  <div class="content">
    <h1>Restaurants for tonight</h1>
    <div class="activity-btn-wrapper push-right">
      <button class="btn btn--proceed" id="">
         <i class="fa fa-2x fa-map" aria-hidden="true"></i>
      </button>
    </div>

    <div class="ev-place">
      <p class="ev-place-name">Restaurant Name</p>
      <button class="ev-place-details"><i class="fa fa-2x fa-info-circle" aria-hidden="true"></i>Details</button>
      <button class="ev-place-location"><i class="fa fa-2x fa-map-marker" aria-hidden="true"></i>Location</button>
      <p class="ev-place-amount"></p><span class="ev-place-counter"><i class="fa fa-users" aria-hidden="true"></i> 25</span> within last hour
      </p>
    </div>
    <div class="ev-place">
      <p class="ev-place-name">Restaurant Name</p>
      <button class="ev-place-details"><i class="fa fa-2x fa-info-circle" aria-hidden="true"></i>Details</button>
      <button class="ev-place-location"><i class="fa fa-2x fa-map-marker" aria-hidden="true"></i>Location</button>
      <p class="ev-place-amount"></p><span class="ev-place-counter"><i class="fa fa-users" aria-hidden="true"></i> 25</span> within last hour
      </p>
    </div>
    <div class="ev-place">
      <p class="ev-place-name">Restaurant Name</p>
      <button class="ev-place-details"><i class="fa fa-2x fa-info-circle" aria-hidden="true"></i>Details</button>
      <button class="ev-place-location"><i class="fa fa-2x fa-map-marker" aria-hidden="true"></i>Location</button>
      <p class="ev-place-amount"></p><span class="ev-place-counter"><i class="fa fa-users" aria-hidden="true"></i> 25</span> within last hour
      </p>
    </div>
    <div class="ev-place">
      <p class="ev-place-name">Restaurant Name</p>
      <button class="ev-place-details"><i class="fa fa-2x fa-info-circle" aria-hidden="true"></i>Details</button>
      <button class="ev-place-location"><i class="fa fa-2x fa-map-marker" aria-hidden="true"></i>Location</button>
      <p class="ev-place-amount"></p><span class="ev-place-counter"><i class="fa fa-users" aria-hidden="true"></i> 25</span> within last hour
      </p>
    </div>
    <div class="ev-place">
      <p class="ev-place-name">Restaurant Name</p>
      <button class="ev-place-details"><i class="fa fa-2x fa-info-circle" aria-hidden="true"></i>Details</button>
      <button class="ev-place-location"><i class="fa fa-2x fa-map-marker" aria-hidden="true"></i>Location</button>
      <p class="ev-place-amount"></p><span class="ev-place-counter"><i class="fa fa-users" aria-hidden="true"></i> 25</span> within last hour
      </p>
    </div>


    <div class="activity-btn-wrapper">
      <button class="btn btn--big btn--proceed" id="">
         Show me more options
      </button>
    </div>
  </div>
</div>