<div id="eventSelection" class="wrapper wrapper--flex">

  <header>
    <div class="getmeout-logo-wrapper">
      <div class="getmeout-logo getmeout-logo--blue">
        <p>get <strong>me</strong></p>
        <h1>Out<i>!</i></h1>
      </div>
    </div>
  </header>
  <div class="content">
    <h1>How about:</h1>
    <ul class="select-activity">
      <a href="http://localhost:3000/#!/eventresults"><li class="select-activity-item">Dinner</li></a>
      <a href="http://localhost:3000/#!/eventresults"><li class="select-activity-item">Cinema</li></a>
      <a href="http://localhost:3000/#!/eventresults"><li class="select-activity-item">Jogging</li></a>
      <a href="http://localhost:3000/#!/eventresults"><li class="select-activity-item">Swimming</li></a>
    </ul>
    <div class="activity-btn-wrapper">
      <button class="btn btn--big btn--proceed" id="altEvent">
                    I want to do something else
                </button>
    </div>
  </div>
</div>

