<div id="welcomePage" class="wrapper wrapper--flex">
  
  <header>
    <div class="getmeout-logo-wrapper">
      <div class="getmeout-logo getmeout-logo--blue">
        <p>get <strong>me</strong></p>
        <h1>Out<i>!</i></h1>
      </div>
    </div>
  </header>
  <div class="content">
    <h2>Welcome back.</h2>
    <h1>How can I help you today?</h1>

    <div class="prompt prompt--ev-viral">
      <p class="prompt-msg"><strong class="ev-viral">The Game of Code</strong> is going viral</p>
      <fieldset class="prompt-btn-wrapper">
        <button class="btn btn--proceed" onlick="javascript:;"><i class="fa fa-check" aria-hidden="true"></i>
 Tell me more</button>
        <button class="btn btn--skip" onlick="javascript:;"><i class="fa fa-ban" aria-hidden="true"></i>
 Skip</button>
      </fieldset>
      <div class="ev-viral-amount">
        <i class="fa fa-users" aria-hidden="true"></i> <span class="amount-counter">350</span>
      </div>
    </div>

    <div class="category-wrapper">
      <div class="category-hint"><a href="http://localhost:3000/#!/eventselection"><i class="fa fa-2x fa-location-arrow" aria-hidden="true"></i> <span class="category-hint-title">Give me a hint</span></a></div>
      <div class="category-hint"><a href="http://localhost:3000/#!/home"><i class="fa fa-2x fa-lightbulb-o" aria-hidden="true"></i> <span class="category-hint-title">I have an idea</span></a></div>
      <div class="category-hint"><a href="http://localhost:3000/#!/home"><i class="fa fa-2x fa-thumbs-o-up" aria-hidden="true"></i> <span class="category-hint-title">Hot spots</span></a></div>
    </div>
  </div>
</div>